@font-face
{
	font-family: SketchRockwell;
	src: url("../fonts/SketchRockwell-Bold.ttf");
	font-weight: bold;
}

body{
	font-family: Helvetica, Arial, sans-serif!important;
	font-size: 14px!important;
	color: #002A40!important;
	line-height: 150%;
	margin: 0;
	padding: 0;
/*	background: url("images/header.png");*/

    background-color: #dfdfdd; /*#ccf0ff*/;
}

h1{
	font-size: 2em!important;
	margin: 6px;
	padding: 12px 33px 7px 0;
	border-bottom: 1px dashed #ccc;
	display: inline-block;
}

.lead{
	font-size: 1em!important;
}

a{
	color: #002A40;
	text-decoration: none;
    font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

.page-wrapper{
	/* width: 1000px; */
	width: 1000px; 
	margin: 0 auto;
	background: #f8f6f3;
}

.header{
	height: 273px;

/*	height: 249px;*/
	background: url("images/header.png") top center no-repeat;
}
/*.header {
    border-bottom: 5px solid #34495E;
    background: url('../images/header.png') no-repeat center center fixed;
    background-size: cover;
}*/

.menu{
	background: url("images/menu_bg.png");
	font-family:  Helvetica, Arial;
	text-align: center;
	font-weight:bold;
}

.menu ul{
	font-size: 1.2em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li{
	display: inline-block;
margin-left: 1px; margin-right: 1px;
}

.menu ul li.active,
.menu ul li:hover{
	background: url("images/menu_active_bg.png");
    color: #9bd8f1;
    margin-left: 1px; margin-right: 1px;
}

.menu ul li a{
	display: block;
	padding: 12px 12px;
	/*padding: 17px 17px;
*/
	text-decoration: none;
}

.menu ul li a:link{
	color: #002A40;
}

.menu ul li a:active, .menu ul li a:hover
{
    color: #9bd8f1;
}


.content-container{
	padding: 30px;
}

.footer-container{
	background: url("images/menu_bg.png");
	padding: 20px 30px 60px 30px;
}

.submenu-col{
	float: left;
	width: 200px;
	font-size: 1.4em;
}

.submenu-col ul{
	padding: 0;
	margin: 0 20px;
	list-style-type:square;
}

.submenu-col ul li{
	margin: 17px 0;
}

.content-col{
	float: left;
	width: 720px;
	padding-left: 19px;
	border-left: 1px dashed #ddd;
    min-height:400px;
}

.content-col-wide{
    width:100% !important;
    border-left: none;
}

.sponsors img{
	margin-right: 21px;
}

.cb{
	clear:both;
}

.login_form{
    width:100%;
}

.login_form label, .login_form input[type="text"], .login_form input[type="submit"]{
    display:block;
}

.login_form label{
	font-weight: bold;
}

.logged-in-user{
    float:right;    
    padding : 0px!important;
    margin-left: 4px!important;
}

.logged-in-user{
	padding: 17px;
	color: #002A40;
}

.logged-in-user a, .logged-in-user a:hover{
	font-size: 0.8em;
	text-decoration: none;
}

.signup-col, .login-col{
	float: left;
	width: 299px;
	padding: 7px 17px 17px;
	margin-right: 17px;
	background: #59adcf;
}

.login-col{
   margin-left: 100px;
}


.inp{
	width: 283px;
	padding: 6px;
	border: 1px solid #AB9E9C;
	border-radius: 3px;
}

.signup-col label, .login-col label{
	margin-top: 7px;
}

.fr{
	float: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.error_message{
	background:#991111;	
	color:#FFF;
	text-align: center;
	border: 1px solid #FFF;
	border-radius: 3px 3px 3px 3px;
	width: 673px;
	margin: 0 0 15px;
	padding: 4px;
	font-weight: bold;
margin-left: 100px;
}

.error_message p{
	margin:0;
}

#judge_registration{
	width:455px;
}

#judge_registration label{
	display: inline-block;
	width:150px;
}

#jelentkezes {

  margin-left: 100px;
}

